{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
    // "plugin:prettier/recommended",
    // "prettier/@typescript-eslint"
  ],
  "env": {
    "node": true
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": 2,
    "prefer-rest-params": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-var-requires": "off",
    "jest/no-mocks-import": "off",
    "jest/no-test-callback": "off"
  }
}